<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css') }}">
    <title>ENSAE</title>
</head>
<body>
   <h1>API Translate</h1>
   <form method="post" action="/formulaire">
        <p>
            <label for= "Traduction">Traduction : </label>
            <select name = "langue" id = "langue">
                <option value = 'en-fr'> en-fr </option>
            </select>
        </p>
        <p>
            <label for="title">Ecris ton texte en anglais à traduire en français</label>
            <br>    
            <input type="text" name="sentence" size="150"
                placeholder="Texte à traduire"
                value="{{ request.form['sentence'] }}"></input>
            <br>
            <button type="submit">Submit</button>
        </p>
</form>

<b>{{ translation }}</b>

</body>
</html>
